<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="com.aviloo.common.log.LogThrottlingFilter"/>
        <encoder>
            <pattern>[%d{dd-MM-yyyy HH:mm:ss.SSS}] [%thread] %highlight(%-5level) %cyan(%logger{15}) - %msg%n</pattern>
        </encoder>
    </appender>
    <root level="${LOGLEVEL_ROOT:-INFO}">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
